body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20%;
    align-items: center;
    background-color: #1f2937;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}


.container {
    flex: 1;
}

.top-portion {
    display: flex;
    justify-content: center;
    padding: 80px 20%;
    gap: 50px;
    background-color: #1f2937;
}

.title-image img {
    height: 350px;
}

.top-portion .title {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

.top-portion .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top-portion .subtext {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
}

.top-portion button {
    background-color: #3882f6;
    border-radius: 8px;
    border-color: #3882f6;
    color: #f9faf8;
    min-width: 90px;
    max-width: 100px;
}

.some-info {
    display: flex;
    justify-content: space-around;
    padding: 50px 15%;
}

.gadget-name {
    text-align: center;
    font-weight: 600;
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info img {
    height: 130px;
    width: auto;
    border: 2px solid #1f2937;
}

/* .gadget {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gadget img {
     max-width: 200px;
} */

.quote {
    display: flex;
    min-height: 200px;
    justify-content: center;
    padding: 40px 25%;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 30px;
    color: #1f2937;
    font-style: italic;
}

.quote .speaker {
    align-self: flex-end;
    font-weight: bold;
}

.signup {
    display: flex;
    padding: 50px 5%;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 40px 20% 40px 20%;
    border-radius: 8px;
}

.signup .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hook {
    font-size: 24px;
    color: #f9faf8;
}

.signup .content .subtext {
    color: #e5e7eb;
    font-size: 15px;
}

.signup button {
    background-color: #3882f6;
    border-color: #f9faf8;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    color: #f9faf8;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}